<mat-toolbar color="primary">
  <mat-toolbar-row>
    <p class="title">Git Super Search</p>
    <div class="search-form-container">
      <form class="search-form">
        <mat-form-field class="search-field">
          <input matInput placeholder="Search a repository" />
        </mat-form-field>
        <button mat-raised-button color="accent" class="search-button">
          Search
        </button>
      </form>
    </div>
    <span class="spacer"></span>
    <a href="https://github.com/sampaiodias/git-super-search" target="_blank">
      <button mat-icon-button aria-label="GitHub page">
        <img
          src="https://material.angular.io/assets/img/homepage/github-circle-white-transparent.svg"
          alt="github"
          class="icon"
        />
      </button>
    </a>
  </mat-toolbar-row>
</mat-toolbar>
